header nav.bg-body-tertiary, footer{
    background-color: rgb(20, 20, 20) !important;
    color: white !important;
}

#navbarNavAltMarkup{
    justify-content: flex-end;
}

.navbar{
    --bs-navbar-padding-y: 1rem !important;
}
.navbar-nav{
        --bs-nav-link-color: rgb(255 255 255 / 93%) !important;
}

p#desc{
    margin-top: 1rem;
    margin-left: 1rem;
    font-size: 1.3rem;
    color: #575757;
}

main div div:first-child{
    width: 40%;
}

main section h2{
    font-size: 2.6rem;
    margin-bottom: 1rem;
}
main section h2#maquinas, h2#usuarios{
    margin-top: 2rem;
}

main section div h3.card-header{
    color: white;
    font-weight: 400;
    font-size: 1.2rem;
    background-color: #257a57;
}

main section div.card{
    margin-bottom: 2rem;
    border-color: #257a57;
}
div.card-body{
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    background-color: #161616;
    color: white;
}

footer{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

footer ul{
    margin: 1rem;
}
footer ul li{
    list-style: none;
}

footer ul:nth-child(2){
    text-align: right;
    padding-right: 2rem;
}